name: DailyCheckIn

on:
  schedule:
    - cron: '30 0 * * *' # 北京时间 8:30 运行
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install dailycheckin --upgrade
      - name: Run
        env:
          CHECKIN_CONFIG: ${{ secrets.CHECKIN_CONFIG }}
        run: |
          # 1. 将加密的 Secret 写入本地配置文件
          echo "$CHECKIN_CONFIG" > config.json
          # 2. 直接运行 dailycheckin，它会自动读取当前目录下的 config.json
          dailycheckin
